<div class="about-main">
  <div class="about-about">
  <h2>Qiitenaiとは</h2>
  <p>
    プログラミングに関する知識を記録・共有するためのサービスです。
  </p>
  <h3>
    気楽にメモれる。
  </h3>
  <p>
    気に入った記事のみ共有できるので「初歩的すぎてのが恥ずかしい」「心無い指摘が怖い」という方も安心してメモできます。
    良記事は外部にお任せして、Qiitenaiはメモを楽しくしようと思う。
  </p>
  </div>
  <h4>
    今後実装予定の機能
  </h4>
  <p>
  　・画像添付機能
  　・自動ログイン機能
  　・And more...
  </p>
  
</div>