<div class="about-main">
  <div class="about-about">
  <h2>Qiitenaiとは</h2>
  <p>
    プログラミングに関する知識を記録・共有するためのサービスです。
  </p>
  <h2>
    Our Mission
  </h2>
  <p>
    記録を気楽にする。記録と共有を選べるので「初歩的すぎてのが恥ずかしい」という方も安心して投稿できます。
    良記事は外部にお任せして、Qiitenaiは記録を楽しくしようと思う。
  </p>
  </div>
  <h3>
    今後実装予定の機能
  </h3>
  <p>
  　・画像添付機能
  　・And more...
  </p>
  
</div>