<div class="main posts-index">
  <div class="container">
    <% @posts.each do |post| %>
    <% @likes.each do |like| %>
    <% if post.id == like.post_id %>
      <div class="posts-index-item">
        <div class="post-left">
          <img src="<%= "/user_images/#{post.user.image_name}" %>">
        </div>
        <div class="post-right">
          <div class="post-user-name">
            <% if post.user.id == @current_user.id %>
            <%= link_to( post.user.name, "/users/#{post.user.id}" ) %>
            <% else %>
            <%= link_to( post.user.name, "/users/#{post.user.id}/likes" ) %>
            <% end %>
          </div>
          <%= link_to(post.title, "/posts/#{post.id}") %>
        </div>
      </div>
    <% end %>
    <% end %>
    <% end %>
  </div>
</div>